{
  "tabWidth": 2,
  "printWidth": 250,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html", "*.scss", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
