body {
    background-image: url(../img/white-waves.png);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    text-align: center;

    @media (min-width: 800px) {
        font-size: 2.5em;
    }
}

strong {
    font-size: 1.5em;
    vertical-align: middle;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;

    @media (min-width: 800px) {
        padding: 0;
    }
}

.section {
    margin: 60px 0;
}

.dataset {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}
.dataset__item {
    align-items: center;
    background-color: #eee;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dataset__value {
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    width: 62.5%;

    @media (min-width: 800px) {
        font-size: 6em;
    }
}
.dataset__value--small {
    font-size: 2em;
}

.dataset__label {
    font-size: 1.25em;
    font-weight: 400;
    margin-left: 5%;
    text-align: left;
    width: 32.5%;

    @media (min-width: 800px) {
        font-size: 2em;
    }
}

.bio {
    margin: 0 auto;
}

.bio__image {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: 0.5rem solid #444535;
}

.bio__number {
    font-size: 4em;
    font-weight: 700;
    display: block;
}

.bio__name {
    font-size: 2em;
    display: block;
}
